@import "./variables.module.scss";
@import "./mixins.module.scss";
@include neon-flicker(pink-flicker, $neon-color-primary);

.about {
  background-color: $bgc-dark;
  h2 {
    margin: 1rem 0;
    font-size: 3rem;
    color: $text-color;
    //animation: pink-flicker 1.5s infinite alternate;
  }
  .text-container {
    margin: 0 auto;
    button {
      @include neon-button;
      margin-top: 2rem;
      margin-bottom: 3rem;
    }
  }
  .skills {
    .cards-wrapper {
      padding: 1rem 0;
      display: flex;
      flex-flow: row wrap;
      gap: 1rem;
      align-items: flex-end;
      .tech-card {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
        picture {
          img {
            height: 50px;
            &.node {
              width: 80px;
              object-fit: contain;
            }
            &.MySQL {
              width: 60px;
              object-fit: contain;
            }
            &.MongoDB {
              width: 100px;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: $tablet-min-width) {
  .about {
    h2 {
      margin: 3rem 0;
    }
    .text-container {
      .text {
        p {
          margin: 0;
        }
      }
      button {
        margin: 2rem 0 3rem 0;
        width: 300px;
      }
    }
    .skills {
      .cards-wrapper {
        justify-content: center;
        .tech-card {
          flex-grow: unset;
          picture {
            img {
              margin-top: auto;
              height: 50px;
              &.node {
                width: 60px;
                object-fit: contain;
              }
              &.MySQL {
                width: 45px;
                object-fit: contain;
              }
              &.MongoDB {
                width: 70px;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {
  .about {
    h2 {
      margin: 4rem 0;
    }
    .text-container {
      max-width: none;
      .text {
      }
    }
    .skills {
      .cards-wrapper {
        gap: 2rem !important;
        .tech-card {
          flex-grow: 1;
        }
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .about {
    h2 {
      //margin-bottom: 2rem;
      margin: 3rem 0;
    }
    .text-container {
      .text {
        grid-gap: 2rem;
      }
    }
  }
}
