@import "./variables.module.scss";
@import "./keyframes.module.scss";
@import "./mixins.module.scss";
@include neon-heading-flicker(yellow-flicker, $neon-color-secondary);

@keyframes noise-1 {
  $steps: 30;
  @for $i from 1 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes noise-2 {
  $steps: 30;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}
.contact {
  background-color: $bgc-dark;
  h2 {
    margin: 2rem 0;
    @include heading-text-shadow($neon-color-primary);
    //animation: yellow-flicker 1.5s infinite alternate;
    @include slide-up-animation(0.4s);
  }
  .grid-wrapper {
    text-shadow: 0 0 4px $neon-color-secondary;
    .thanks-message {
      padding-bottom: 1rem;
      h3 {
        margin-top: 0;
        .hightlight-pink {
          color: #fff;
          //text-shadow: 0 0 5px #ff20ce;
        }
        .hightlight-blue {
          color: #fff;
          //text-shadow: 0 0 5px #00fff0;
        }
      }
      .mail-img {
        width: 150px;
      }
    }
    form {
      display: grid;
      grid-gap: 1rem;
      margin: 0 auto;
      div {
        display: grid;
        grid-gap: 0.5rem;
        input,
        textarea {
          width: 100%;
          border-radius: 7px;
          border: none;
          outline: none;
          box-shadow: 0 0 10px 4px #3060db;
        }
        input {
          height: 38px;
        }
        textarea {
          height: 200px;
        }
        input,
        textarea {
          color: $bgc-dark;
          padding: 0.5rem;
          &:focus {
            border: 1px solid $neon-color-primary !important;
          }
        }
        span {
          color: $neon-color-primary;
        }
        .require-message {
          margin: 0.2rem;
          text-align: right;
        }
      }
      button {
        @include neon-button-with-hover;
      }
      .status-message {
        margin: 0;
        color: $neon-color-secondary;
        text-align: center;
      }
    }
  }
}
/*
.contact {
  .text-effect {
    .container {
      .glitch {
        color: rgb(250, 237, 237);
        position: relative;
        font-size: 2rem;
        // margin: 70px 200px;
        animation: glitch 5s 5s infinite;
      }
      .glitch::before {
        content: attr(data-text);
        position: absolute;
        left: -2px;
        text-shadow: -5px 0 #710065;
        overflow: hidden;
        top: 0;
        animation: noise-1 3s linear infinite alternate-reverse,
          glitch 5s 5.05s infinite;
      }
      .glitch::after {
        content: attr(data-text);
        position: absolute;
        left: 2px;
        text-shadow: -5px 0 #3060db;
        overflow: hidden;
        top: 0;
        animation: noise-2 3s linear infinite alternate-reverse,
          glitch 5s 5s infinite;
      }
    }
  }
}*/

@keyframes fudge {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 2%);
  }
}

@media only screen and (min-width: $tablet-min-width) {
  .contact {
    .grid-wrapper {
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
      .thanks-message {
      }
      form {
        width: 100%;
        button {
          width: 100%;
          max-width: none;
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {
  .contact {
    .grid-wrapper {
      form {
        button {
          width: 250px;
        }
      }
    }
  }
}
