@import "./variables.module.scss";

@mixin neon-button() {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 350px;
  height: 50px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #fff, inset 0 0 10px #fff;
  text-shadow: 0px 0px 10px $neon-color-secondary;
  transition: 0.3s;
  &:hover {
    color: #000;
    mix-blend-mode: screen; // make text transparent
    background-color: #fff;
    box-shadow: 0 0 20px 4px #3060db;
  }
}
