@import "./variables.module.scss";
@import "./keyframes.module.scss";
@import "./mixins.module.scss";
@include neon-heading-flicker(pink-flicker, $neon-color-primary);
// text animation from mixin
@include slide-text-horizontal(slide-text-left, -100px);

.topPage {
  position: relative;
  background: linear-gradient(
    0deg,
    $bgc-gradient-brown 0%,
    $bgc-gradient-purple 31%,
    $bgc-gradient-blue 100%
  );
  padding-top: $desktop-header-height;
  .left {
    h1,
    h2 {
      font-family: $font-family-heading;
    }
    h1 {
      @include heading-text-shadow($neon-color-primary);
      margin: 1rem 0;
      font-size: 3rem;
      color: #fff;
      line-height: 1.5;
      //animation: pulsate 2.5s infinite alternate, slide-left 1.2s;
      animation: slide-text-left 1.1s;
    }
    h2 {
      width: 100%;
      font-size: $font-size-text;
      letter-spacing: normal;
      margin: 0;
      font-family: ubuntu;
      animation: slide-text-left 1.3s;
    }
    p {
      width: 100%;
      margin: 0.5rem 0;
      animation: slide-text-left 1.5s;
    }
  }
  .right {
    margin: 0 auto;
    padding: 1rem 0;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      max-width: 350px;
      margin: 0 auto;
      animation: slide-image-right 1.5s;
    }
  }
}

@media only screen and (min-width: $tablet-min-width) {
  .topPage {
    padding-bottom: 3rem;
    .left {
      h1 {
        margin: 2rem 0 1rem 0;
        font-size: 4rem;
      }
      h2 {
        margin: 1rem 0;
        font-size: 1.5rem;
        font-weight: 500;
        text-shadow: 0 0 1px #fff, 0 0 2px #fff;
      }
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {
  .topPage {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: $desktop-header-height;
    padding-bottom: 0;
    height: calc(98vh);
    .content-wrapper {
      display: grid;
      grid-template-columns: 60% 40%;
      .left {
        h1 {
          margin: 0;
          font-size: 5rem;
          line-height: 1.2;
          animation: zoom-left 1.5s;
        }
        h2 {
          font-size: 1.2rem;
          animation: zoom-left 1.8s;
        }
        p {
          max-width: 500px;
          animation: zoom-left 2s;
        }
      }
      .right {
        img {
          width: 100%;
          animation: zoom-right 2s;
        }
      }
    }
  }
}
