@import "./variables.module.scss";
// h1 effect
@mixin neon-heading-flicker($name, $neon-color) {
  @keyframes #{$name} {
    100% {
      text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 3px #fff,
        0 0 40px $neon-color-primary, 0 0 70px $neon-color-primary,
        0 0 70px $neon-color-primary, 0 0 70px $neon-color-primary,
        0 0 150px $neon-color-primary;
    }
    5% {
      text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 20px $neon-color-primary;
    }

    0% {
      text-shadow: 0 0 2px #fff, 0 0 3px #fff, 0 0 10px $neon-color-primary,
        0 0 35px $neon-color-primary, 0 0 45px $neon-color-primary,
        0 0 50px $neon-color-primary, 0 0 60px $neon-color-primary;
    }
  }
}
@include neon-heading-flicker(pink-flicker, $neon-color-primary);

.topPage {
  position: relative;
  background: linear-gradient(
    0deg,
    $bgc-gradient-brown 0%,
    $bgc-gradient-purple 31%,
    $bgc-gradient-blue 100%
  );
  .left {
    h1,
    h2 {
      font-family: $font-family-heading;
    }
    h1 {
      margin: 1rem 0;
      font-size: 3rem;
      color: #fff;
      line-height: 1.5;
      text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 21px $neon-color-primary,
        0 0 32px $neon-color-primary, 0 0 62px $neon-color-primary,
        0 0 72px $neon-color-primary;
      //animation: pink-flicker 1.5s infinite alternate;
    }
    h2 {
      font-size: $font-size-text;
      letter-spacing: normal;
      margin: 0;
      font-family: ubuntu;
    }
    p {
      margin: 0.5rem 0;
    }
  }
  .right {
    margin: 0 auto;
    padding: 1rem 0;
    max-width: 350px;
  }
}

@media only screen and (min-width: 600px) {
  .topPage {
    .left {
      h1 {
        margin: 2rem 0 1rem 0;
        font-size: 4rem;
      }
      h2 {
        margin: 1rem 0;
        font-size: 1.5rem;
        font-weight: 500;
        text-shadow: 0 0 1px #fff, 0 0 2px #fff;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .topPage {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: $desktop-header-height;
    height: calc(98vh);
    .content-wrapper {
      display: grid;
      grid-template-columns: 60% 40%;
      .left {
        h1 {
          margin: 0;
          font-size: 5rem;
          line-height: 1.2;
        }
        h2 {
          font-size: 1.2rem;
        }
        p {
          max-width: 500px;
        }
      }
      .right {
        max-width: none;
        width: 400px;
      }
    }
  }
}
