@import "./variables.module.scss";
@include neon-flicker(pink-flicker, $neon-color-primary);

.topPage {
  background: linear-gradient(
    0deg,
    $bgc-gradient-brown 0%,
    $bgc-gradient-purple 31%,
    $bgc-gradient-blue 100%
  );
  position: relative;
  .hamburger {
    display: flex;
    justify-content: flex-end;
  }
  .left {
    h1,
    h2 {
      font-family: $font-family-heading;
    }
    h1 {
      margin: 1rem 0;
      font-size: 3rem;
      color: $text-color;
      //animation: pink-flicker 1.5s infinite alternate;
    }
    h2 {
      font-size: $font-size-text;
      margin: 0;
    }
    p {
      margin: 0.5rem 0;
    }
  }
  .right {
    padding: 1rem 0;
  }
}

@media screen {
}
