@mixin slide-up-animation-quick($second) {
  visibility: hidden;
  &.animated {
    visibility: visible;
    animation: slide-top-quick $second;
  }
}

@mixin slide-up-animation-slow($second) {
  visibility: hidden;
  &.animated {
    visibility: visible;
    animation: slide-top-slow $second ease-in-out;
  }
}

@mixin slide-text-horizontal($name, $position) {
  @keyframes #{$name} {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
