@import "../import.module.scss";
.about {
  background-color: $bgc-dark;
  .section-title {
    margin: 1rem 0;
    color: $text-color;
    @include section-title-heading;
    //animation: pink-flicker 1.5s infinite alternate;
  }
  .text-container {
    margin: 0 auto;
    .text {
      @include slide-up-animation-quick(0.65s);
    }
    button {
      margin-top: 2rem;
      margin-bottom: 3rem;
      // neon-button is used. neon-button-with-hover doesn't work due to slide-up-animation
      // avoid causing the element flickering(switching inView true and false repeatedly)
      @include neon-button;
      @include slide-up-animation-quick(0.7s);
      &.animated {
        &:hover {
          @include neon-button-hover-transition;
        }
      }
    }
  }
  .skills {
    @include slide-up-animation-quick(0.7s);
    .cards-wrapper {
      padding: 1rem 0;
      display: flex;
      flex-flow: row wrap;
      gap: 1rem;
      align-items: flex-end;
      .tech-card {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
        picture {
          img {
            height: 50px;
            &.node {
              width: 80px;
              object-fit: contain;
            }
            &.MySQL {
              width: 60px;
              object-fit: contain;
            }
            &.MongoDB {
              width: 100px;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: $tablet-min-width) {
  .about {
    .text-container {
      .text {
        p {
          margin: 0;
        }
      }
      button {
        margin: 2rem 0 3rem auto;
        width: 300px;
      }
    }
    .skills {
      .cards-wrapper {
        justify-content: center;
        .tech-card {
          flex-grow: unset;
          picture {
            img {
              margin-top: auto;
              height: 50px;
              &.node {
                width: 60px;
                object-fit: contain;
              }
              &.MySQL {
                width: 45px;
                object-fit: contain;
              }
              &.MongoDB {
                width: 70px;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {
  .about {
    h2 {
      @include slide-up-animation-slow(0.4s);
    }
    .text-container {
      max-width: none;
      .text {
        @include slide-up-animation-slow(0.6s);
      }
      button {
        @include slide-up-animation-slow(0.6s);
      }
    }
    .skills {
      @include slide-up-animation-slow(0.6s);
      .cards-wrapper {
        gap: 2rem;
        .tech-card {
          flex-grow: 1;
        }
      }
    }
  }
}
