.menu-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: transparent;
  width: 100vw;
  height: 60px;
  &.lightblue {
    background-color: $bgc-gradient-blue;
  }
  &.navy {
    background-color: $bgc-dark;
  }
  .toggler {
    // contains hamburger icon
    position: absolute;
    top: 0;
    right: 0;
    z-index: 200;
    width: 50px;
    height: 50px;
    opacity: 0;
    cursor: pointer;
  }
  .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    padding: 1rem;
    div {
      // hamburger center line
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 3px;
      background-color: $text-color;
      border-radius: 2px;
      transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;
      filter: drop-shadow(0 0 2px rgba(#fff, 0.5)) drop-shadow(0 0 2px #87e6f9);
      &:before,
      &:after {
        // hamburger top and bottom line
        content: "";
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 3px;
        background: inherit;
        border-radius: 2px;
      }
      &:before {
        // -10px from the center line
        top: -10px;
      }
      &:after {
        top: 10px;
      }
    }
  }
}

// hamburger <=> close icons toggle animation
.menu-wrapper {
  .hamburger {
    &.open {
      div {
        // center line becomes / of X
        transform: rotate(135deg);
        filter: drop-shadow(0 0 2px white)
          drop-shadow(0 0 5px $neon-color-tertiary)
          drop-shadow(0 0 8px $neon-color-tertiary)
          drop-shadow(0 0 10px $neon-color-tertiary);
        &:before,
        &:after {
          // by adding 90deg, / => \
          // before and after lines become \ of X
          top: 0;
          transform: rotate(90deg);
        }
      }
    }
  }
}

// overlay menu animation
.menu-wrapper {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    & > div {
      // growing background animation
      background: $bgc-dark;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      will-change: transform, transition;
      display: flex;
      flex: none;
      align-items: center;
      justify-content: center;
      width: 250vw;
      height: 250vw;
      //filter: drop-shadow(0 0 20px rgba($neon-color-tertiary, 0.2))
      //  drop-shadow(0 0 30px rgba($neon-color-tertiary, 0.4))
      //  drop-shadow(0 0 40px rgba($neon-color-tertiary, 0.4));
      transform: scale(0); // grows from center
      transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;
      .top-page-button {
        display: none;
      }
      .menu-list {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
        -webkit-transition: opacity 0.4s ease;
        ul {
          padding: 0;
          li {
            list-style: none;
            a {
              text-decoration: none;
            }
          }
          &.page-section-list {
            font-size: $font-size-heading-M;
            font-family: $font-family-heading;
            text-shadow: 0 0 1px #fff, 0 0 5px $neon-color-tertiary,
              0 0 10px $neon-color-tertiary, 0 0 15px $neon-color-tertiary;
          }
          &.social-media-list {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            gap: 2rem;
            filter: drop-shadow(0 0 2px rgba($neon-color-secondary, 0.4))
              drop-shadow(0 0 7px rgba($neon-color-secondary, 0.4))
              drop-shadow(0 0 10px rgba($neon-color-tertiary, 1));
          }
        }
      }
    }
  }
  .menu {
    &.open {
      visibility: visible;
      & > div {
        border-radius: 50%;
        will-change: transition, transform;
        transform: scale(1);
        transition-duration: 0.9s;
        -webkit-transition-duration: 0.9s;
        .menu-list {
          opacity: 1;
          transition: opacity 0.4s ease 0.4s;
          -webkit-transition: opacity 0.4s ease 0.4s;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .menu-wrapper {
    .toggler {
      position: relative;
      display: none;
    }
    .hamburger {
      position: relative;
      display: none;
    }
    .menu {
      position: relative;
      display: block;
      visibility: visible;
      padding: 0 1rem;
      & > div {
        // growing background animation
        border-radius: 0;
        -webkit-border-radius: 0;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 100%;
        max-width: 1100px;
        height: $desktop-header-height;
        will-change: transition, transform;
        transform: none; // grows from center
        transition: none;
        background-color: transparent;
        .top-page-button {
          display: block;
          width: 30%;
          font-size: 1.2rem;
          font-family: "Tourney", cursive;
        }
        .menu-list {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 2rem;
          width: 100%;
          max-width: none;
          max-height: none;
          transition: none;
          ul {
            display: flex;
            gap: 1rem;
            padding: 0.5;
            li {
              &.item-1 {
                animation: slide-top-quick 0.6s;
              }
              &.item-2 {
                animation: slide-top-quick 0.75s;
              }
              &.item-3 {
                animation: slide-top-quick 0.9s;
              }
              &.item-4 {
                animation: slide-top-quick 1.05s;
              }
              &.item-5 {
                animation: slide-top-quick 1.3s;
              }
              &.item-6 {
                animation: slide-top-quick 1.45s;
              }
            }
            &.page-section-list {
              font-size: 1rem;
              font-family: ubuntu;
            }
            &.social-media-list {
              img {
                height: 35px;
              }
            }
          }
        }
      }
      & > div {
        transform: none;
        transition: none;
        .menu-list {
          opacity: 1;
          transition: none;
        }
      }
    }
  }
}
