@import "../import.module.scss";
@include neon-heading-flicker(pink-flicker, $neon-color-primary);
// text animation from mixin

.topPage {
  height: 98vh;
  padding-bottom: 300px;
  position: relative;
  background: #6862cc;
  padding-top: $desktop-header-height;
  background: url(../../public/pictures/index-hero.jpeg) no-repeat fixed 70%
      bottom,
    #6862cc;
  background-size: 450px;
  //transition: background 1.9s;
  /*
  &.animated {
    background: url(../../public/illustration/top-bg-left.svg) no-repeat fixed -4%
        bottom,
      url(../../public/illustration/top-bg-right.svg) no-repeat fixed 100% top,
      linear-gradient(
        0deg,
        $bgc-gradient-brown 0%,
        $bgc-gradient-purple 31%,
        $bgc-gradient-blue 100%
      );
    background-size: 40%, 55%;
  }*/
  .left {
    h1,
    h2 {
      font-family: $font-family-heading;
    }
    h1 {
      margin: 1rem 0;
      max-width: 450px;
      color: #fff;
      line-height: 1.5;
      letter-spacing: 4px;
      //animation: pulsate 2.5s infinite alternate, slide-left 1.2s;
      @include heading-text-shadow(
        $neon-color-primary,
        $neon-color-primary-saturated
      );
      @include slide-left-animation(0.6s);
    }
    h2 {
      width: 100%;
      font-size: $font-size-heading-XS;
      letter-spacing: normal;
      margin: 0;
      font-family: ubuntu;
      font-weight: 400;
      @include slide-left-animation(0.9s);
    }
    p {
      width: 100%;
      margin: 0.5rem 0;
      @include slide-left-animation(1s);
    }
  }
}

@media only screen and (min-width: $tablet-min-width) {
  .topPage {
    background: url(../../public/illustration/hero-outline.svg) no-repeat fixed
        320px bottom,
      url(../../public/pictures/index-hero.jpeg) no-repeat fixed 200px bottom,
      #6862cc;
    background-size: 190px, 550px;
    .left {
      h1 {
        margin: 2rem 0 1rem 0;
      }
      h2 {
        margin: 1rem 0;
        font-weight: 500;
        text-shadow: 0 0 1px #fff, 0 0 2px #fff;
      }
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {
  .topPage {
    padding-top: $desktop-header-height;
    padding-bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-size: 700px;
    background-position-x: 650px;
    .content-wrapper {
      .left {
        h1 {
          margin: 0;
          line-height: 1.2;
          font-size: 100px;
          @include zoom-left-animation(1.4s);
        }
        h2 {
          @include slide-up-animation-quick(1.6s);
        }
        p {
          max-width: 500px;
          @include slide-up-animation-quick(1.9s);
        }
      }
      .right {
        img {
          width: 100%;
          @include zoom-right-animation(1.5s);
        }
      }
    }
  }
}
