@import "../import.module.scss";
@include neon-heading-flicker(pink-flicker, $neon-color-primary);
// text animation from mixin

.topPage {
  height: 100vh;
  position: relative;
  padding-top: $desktop-header-height;
  // add pseudo element and set bg with position: fixed, instead of bg attachment.
  // bg attachment doesn't work on mobile
  &::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 68% bottom;
    background-color: #6862cc;
    background-image: url(../../public/pictures/index-hero.jpeg);
    background-size: clamp(450px, calc((100vw) / 0.625), 600px);
  }
  .left {
    h1 {
      margin: 0;
      color: #fff;
      line-height: 1.2;
      font-size: calc((100vw - 8px) / 0.625 / 9);
      font-family: $font-family-heading;
      @include heading-text-shadow(
        $neon-color-primary,
        $neon-color-primary-saturated
      );
      @include slide-left-animation(0.6s);
    }
    h2 {
      width: 100%;
      font-size: $font-size-heading-S;
      letter-spacing: normal;
      margin: 0;
      font-family: "Exo", sans-serif;
      font-weight: 100;
      font-style: italic;
      text-shadow: 0 0 2px $text-color;
      @include slide-left-animation(1.2s);
    }
  }
}

@media only screen and (min-width: $tablet-min-width) {
  .topPage {
    &::before {
      background-position: 100% bottom;
      background-size: 700px;
    }
    .content-wrapper {
      height: 100%;
      .left {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        h1 {
          margin: 0;
          font-size: $font-size-heading-XL;
          letter-spacing: 3px;
        }
        h2 {
          margin: 1rem 0;
          font-size: $font-size-heading-S;
          letter-spacing: 3px;
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {
  .topPage {
    &::before {
      background-size: clamp(750px, 80%, 900px);
      background-position-x: clamp(250px, 85%, 450px), 90%;
    }
    padding-top: $desktop-header-height;
    padding-bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .content-wrapper {
      .left {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        height: 100%;
        h1 {
          margin: 0;
          line-height: 1.2;
          font-size: 100px;
          max-width: 500px;
          @include zoom-left-animation(1.6s);
        }
        h2 {
          @include slide-up-animation-quick(2.3s);
        }
      }
    }
  }
}

@media only screen and (min-width: 1500px) {
  .topPage {
    background-size: 1000px;
    background-position-x: 75%;
  }
}
