@import "../import.module.scss";
@include neon-heading-flicker(pink-flicker, $neon-color-primary);
// text animation from mixin

.topPage {
  height: 98vh;
  position: relative;
  background: #6862cc;
  padding-top: $desktop-header-height;
  background: url(../../public/pictures/index-hero.jpeg) no-repeat fixed 68%
      bottom,
    #6862cc;
  background-size: clamp(450px, calc((100vw) / 0.625), 600px);
  .left {
    h1 {
      margin: 0;
      color: #fff;
      line-height: 1.2;
      font-size: calc((100vw - 8px) / 0.625 / 9);
      font-family: $font-family-heading;
      @include heading-text-shadow(
        $neon-color-primary,
        $neon-color-primary-saturated
      );
      @include slide-left-animation(0.6s);
    }
    h2 {
      width: 100%;
      font-size: $font-size-heading-S;
      letter-spacing: normal;
      margin: 0;
      font-family: "Exo", sans-serif;
      font-weight: 100;
      font-style: italic;
      text-shadow: 0 0 2px $text-color;
      @include slide-left-animation(1.2s);
    }
  }
}

@media only screen and (min-width: $tablet-min-width) {
  .topPage {
    background: url(../../public/pictures/index-hero.jpeg) no-repeat fixed 100%
        bottom,
      #6862cc;
    background-size: 700px;
    .content-wrapper {
      height: 100%;
      .left {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        h1 {
          margin: 0;
          font-size: $font-size-heading-XL;
          letter-spacing: 3px;
        }
        h2 {
          margin: 1rem 0;
          font-size: $font-size-heading-S;
          letter-spacing: 3px;
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {
  .topPage {
    padding-top: $desktop-header-height;
    padding-bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-size: clamp(750px, 80%, 900px);
    background-position-x: clamp(250px, 85%, 450px), 90%;
    .content-wrapper {
      .left {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        height: 100%;
        h1 {
          margin: 0;
          line-height: 1.2;
          font-size: 100px;
          max-width: 500px;
          @include zoom-left-animation(1.4s);
        }
        h2 {
          @include slide-up-animation-quick(1.6s);
        }
        p {
          max-width: 500px;
          @include slide-up-animation-quick(1.9s);
        }
      }
      .right {
        img {
          width: 100%;
          @include zoom-right-animation(1.5s);
        }
      }
    }
  }
}

@media only screen and (min-width: 1500px) {
  .topPage {
    background-size: 1000px;
    background-position-x: 75%;
  }
}
