@import "../utilities/variables.module.scss";

/**************** Button ****************/
// without hover transition
@mixin neon-button() {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 350px;
  height: 50px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #fff, inset 0 0 10px #fff;
  text-shadow: 0px 0px 10px $neon-color-secondary;
}

@mixin neon-button-hover-transition {
  transition: 0.3s;
  &:hover {
    color: #000;
    mix-blend-mode: screen; // make text transparent
    background-color: #fff;
    box-shadow: 0 0 20px 4px #3060db;
  }
}

// with hover
@mixin neon-button-with-hover {
  @include neon-button;
  @include neon-button-hover-transition();
}

/**************** Heading ****************/
@mixin heading-text-shadow($neon-color) {
  text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 21px $neon-color,
    0 0 32px $neon-color, 0 0 62px $neon-color, 0 0 72px $neon-color;
}

@mixin neon-heading-flicker($name, $neon-color) {
  @keyframes #{$name} {
    0% {
      /* Larger blur radius */
      text-shadow: 0 0 2px $text-color, 0 0 9px $neon-color,
        0 0 20px $neon-color, 0 0 90px $neon-color;
    }
    40% {
      /* A slightly smaller blur radius */
      text-shadow: 0 0 2px $text-color, 0 0 4px $text-color,
        0 0 6px $text-color 0 0 14px $neon-color, 0 0 30px $neon-color,
        0 0 90px $neon-color, 0 0 100px $neon-color, 0 0 180px $neon-color,
        0 0 200px $neon-color;
    }
    60% {
      /* A slightly smaller blur radius */
      text-shadow: 0 0 2px $text-color, 0 0 4px $text-color,
        0 0 14px $neon-color, 0 0 40px $neon-color, 0 0 100px $neon-color,
        0 0 80px $neon-color, 0 0 120px $neon-color;
    }
    100% {
      text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 21px $neon-color-primary,
        0 0 32px $neon-color-primary, 0 0 62px $neon-color-primary,
        0 0 72px $neon-color-primary;
    }
  }
}
