$text-color: #ffffff;
$border-color: #ffffff;
$neon-color-primary: #ff00e4;
$neon-color-primary-saturated: #ff00b8;
$neon-color-primary-dark: #ad00ff;
$neon-color-secondary: #ffcd83;
$neon-color-tertiary: #000aff;
$bgc-gradient-blue: rgb(27, 85, 236);
$bgc-gradient-purple: rgb(151, 110, 184);
$bgc-gradient-wine: #710065;
$bgc-gradient-brown: rgba(#8c5b46, 1);
$bgc-dark: #02006c;
$font-family-heading: "Tourney", cursive;
$font-family-text: "Ubuntu", sans-serif;
$font-size-text-regular: 1rem; // change to regular
$font-size-text-large: 1.25rem; // change to large
$font-size-heading-XL: 5rem; // 80px
$font-size-heading-L: 4rem; // 64px
$font-size-heading-M: 3rem; // 48px
$font-size-heading-S: 2rem; // 32px
$font-size-heading-XS: 1.2rem;
$line-height-regular: 1.4;
$desktop-header-height: 60px;
$tablet-min-width: 600px;
$desktop-min-width: 900px;
$desktop-content-max-width: 1100px;
